html
  head
    title= title
  body 
    head
      h1= '台南線上散步導覽'
    main
      iframe(type="text/html" width="854" height="480" 
        src='https://www.youtube.com/embed/live_stream?channel=UCJJmK6bMeDJCS2qiR4U2-wg&autoplay=1'
      )

      iframe(
        width='700'
        height='200'
        src="https://www.youtube.com/live_chat?v=S6U5uwjfwPA&embed_domain=id-local.globomantics.com"
      )
    h1= message

