html
  head
    title= title
    style.
      body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #777;
      }
      .bgimg-1 {
        position: relative;
        //- opacity: 0.65;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .bgimg-1 {
        background-image: url(https://tainan-metaverse.s3.ap-northeast-1.amazonaws.com/web/img/main-header-bg.png);
        height: 15%;
        width: 100%;
      }
  body 
    head
      .bgimg-1
    main
        iframe(type="text/html" width="73%" height="85%" 
          src='https://www.youtube.com/embed/live_stream?channel=UCJJmK6bMeDJCS2qiR4U2-wg&autoplay=1'
        )

        iframe(
          width='26.5%'
          height='85%'
          src="https://www.youtube.com/live_chat?v=5NNlg3gN7sE&embed_domain=tainanverse-live.ap-northeast-1.elasticbeanstalk.com"
        )



